.header {
    position: absolute;
    z-index: 4;
    padding: 30px 0 0 0;
    width: 100%;
    &__block {
        display: flex;
        justify-content: space-between;
        width: 29%;
        align-items: center;
        &_image {
            width: 35px;
            height: 35px;
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
        }
        &_list {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            &-item {
                list-style-type: none;
                &-link {
                    color: #fff;
                    text-decoration: none;
                    font-size: 14px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}   

